* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




html, body {
    width: 100%;
    height: 100%;
}




header{
    background-color: var(--www-apple-com-woodsmoke-80, rgba(22, 22, 23, 0.80));
    width: 100%;
    height: 35px;
    text-align: center;
    background-image: url(image.png);
    background-repeat: no-repeat;
    background-position: 200px;
    background-size: 2%;
    display: flex;
    justify-content: center; 
    align-items: center; 
    gap: 40px;
    position: fixed;
    margin: 0;
    backdrop-filter: blur(10px);
    
}

header button{
    display: inline-block;
    background: none;
    color: whitesmoke;
    border: none;
    height: 40px;
    justify-content: center;
    align-items: center;
    font-size: 10px;
}

header img{
    width: 10px;
}

#ipad{
    width: 100%;
    height: 600px;
    background-color: black;
    background-image: url(1_backgroud.png);
    background-size:110%;
    background-repeat: no-repeat;
    background-position: center;
}

#ipad h1{
    color: #F5F5F7;
    text-align: center;
    font-family: AppleGothic;
    font-style: normal;
    font-weight: 900;
    padding-top: 50px;
    font-size: 50px;

}

#ipad p{
    color: #F5F5F7;
    font-size: 22px;
    font-style: normal;
    text-align: center;
    font-family: AppleGothic;
    letter-spacing: 0.196px;
    line-height: 40px; 
    font-weight: 400;
}

#look{
    width: 105px;
    height: 40px;
    color: #fff;
    border-radius: 980px;
    background-color: #0071E3;
    border: none;
    margin: 0px 10px;
}

#buy{
    border: 2px solid #0071E3;
    width: 90px;
    height: 40px;
    background-color: black;
    color: #0071E3;
    border-radius: 980px;
    text-align: center;
}

.btn{
    text-align: center;
    padding-top: 10px;
}




 #iphone{
    width: 100%;
    height: 500px;
    background-color: black;
    background-image: url(2_background.png) ;
    background-size: 110%;
    background-position: center;
    background-repeat: no-repeat;
 }





 #iphone h1{
    color: #F5F5F7;
    font-size: 50px;
    font-style: normal;
    text-align: center;
    font-family: AppleGothic;
    letter-spacing: 0.196px;
    line-height: 40px; 
    font-weight: 700;
    padding-top: 50px;
}

.empty{
    width: 100%;
    height: 12px;
}

#iphone p{
    color: #F5F5F7;
    font-size: 25px;
    text-align: center;
    padding-top: 20px;
}

#look2{
    width: 105px;
    height: 40px;
    color: #fff;
    border-radius: 980px;
    background-color: #0071E3;
    border: none;
    margin: 0px 10px;
}

#buy2{
    border: 2px solid #0071E3;
    width: 90px;
    height: 40px;
    background-color: black;
    color: #0071E3;
    border-radius: 980px;
    text-align: center;
}

.btn2{
    text-align: center;
    padding-top: 10px;
}

#ai{
    width: 100%;
    height: 692px;
    background-image: url(3_background.png);
    background-size: 110%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: whitesmoke;
}

#ai h1{
    text-align: center;
    padding-top: 30px;
    font-size: 50px;
    font-weight: 500;
}

#t1{
    text-align: center;
    font-size: 25px;
}

#t2{
    text-align: center;
    padding-top: 20px;
    color: #6E6E73;
}


#ai sup{
    font-size: 10px;
}

#look3{
    width: 105px;
    height: 45px;
    text-align: center;
    color: #fff;
    border-radius: 980px;
    background-color: #0071E3;
    border: none;
    margin: 0px 10px;
}

.btn3{
    text-align: center;
    padding-top: 30px;
}
